{% extends 'blog/base.html'%}


{% block content %}

   <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <img class="rounded-circle article-img" src="{{ post.author.userprofile.profile_pic.url }}">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                 <br>
                <h2> {{ post.title }} </h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
   </article>

   <div class="container">

       {% if post.author == user %}

          <a role="button" class="btn btn-success" href="{% url 'blog:post-update' post.id %}"> Edit </a>
          <a role="button" class="btn btn-success" href="{% url 'blog:post-delete' post.id %}"> Delete </a>

       {% endif%}

   </div>


{% endblock %}