{% extends 'blog/base.html'%}


{% block content %}

      <div class="media">

          <img class="rounded-circle account-img" src ="{{ profile_owner.userprofile.profile_pic.url }}" >

          <div class="media-body">

                <h2 class="account-heading"> {{ profile_owner.username | title }} </h2>
                <p class="text-secondary"> {{ profile_owner.email }} </p>

                {% if profile_owner ==  user %}
                    <a role="button" class="btn btn-warning" href="{% url 'user_app:changeinfo' %}"> Change Personal Info </a>
                    <br>
                    <br>
                    <a role="button" class="btn btn-warning" href="{% url 'user_app:password_change' %}"> Change Password </a>
                {% endif %}

          </div>

          <div>
            {% if posts %}
                {% for post in posts%}

                    <article class=" content-section">

                        <div class="article-metadata">
                          <img class="rounded-circle article-img" src="{{ post.author.userprofile.profile_pic.url }}">
                          <a class="mr-2" href="#">{{ post.author }}</a>
                          <small class="text-muted">{{ post.date_posted }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>

                    </article>
                {% endfor %}

            {% endif %}
          </div>


    </div>
{% endblock %}